<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
        <style></style>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="potrait" src="img/MyPhoto.jpg">

        </div>
        {{>footer}}
    </body>
</html>