<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Merienda|Nova+Cut|Trade+Winds&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    </head>
    <body>
        <div class="main-content container">
            {{>header}}
            <div class="container">
                <img class="potrait img-thumbnail hidden-xs" src="img/MyPhoto.jpg" align="right" HSPACE="30px" VSPACE="10px">
                <p>
                    Hi, I am Mehul Patni and I was born and brought up in Jaipur, Rajasthan. Currently, I am pursuing my B.Tech from Indian Institute of Information Technology, Nagpur from the computer science branch.
                    <br>Talking about my Projects, I have completed on a gaming application which i used to call "BMXCrashLoop".
                    It was a written in python using pygame library.
                </p>
                <p>
                    If I talk about my hobbies, I am fond of listening to music, reading novels and watching movies and TV series.
                </p>
                <p>
                    My goal is to become a perfectionist in the field of web development. I like to learn new tools and technology, which keeps me updated all the time. 
                </p>
                <p>
                    That's all about me.
                </p>
                <p>
                    Thank You.
                </p>

            </div>
        </div>
        {{>footer}}
    </body>
</html>