<footer>
    <p>Created by : {{name}}</p>
    <ul class="list-unstyled list-inline social text-center" style="color: #888888">
        <li class="list-inline-item">
            <a href="http://www.linkedin.com/in/mehul-patni">
                <span style="color: #474747">
                    <i class="fab fa-linkedin-in"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/Mehul2205" class="mehul">
                <span style="color: #474747">
                    <i class="fab fa-github"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.facebook.com/mehul.patni.370" class="mehul">
                <span style="color: #474747">
                    <i class="fab fa-facebook "></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com/mehulpatni2205/" class="mehul">
                <span style="color: #474747">
                    <i class="fab fa-instagram "></i>
                </span>
            </a>
        </li>
    </ul>
</footer>